node_modules
.env

app.get("/menu", async (req, res) => {
  try {
    const connection = await MongoClient.connect(url, {
      useNewUrlParser: true,
      useUnifiedTopology: true,
    });
    const db = connection.db("cookbook");
    const store = await db.collection("recipes").find().toArray();
    await connection.close();
    res.json(store);
  } catch (error) {
    console.error("Error details:", error); // Log the specific error details
    res
      .status(500)
      .json({ message: "Something went wrong", error: error.message });
  }
});